<launch>
  <include file="$(find freenect_launch)/launch/freenect.launch">
    <arg name="depth_registration" value="true"/>
  </include>
  <include file="$(find apriltags)/launch/apriltags.launch"/>
  <node name="robot_base_controller" pkg="robot_base_controller" type="base_motor_controller.py"/>
  <node name="pose_estimator" pkg="robust_navigation" type="pose_estimation_tw.py" output="screen"/>
</launch>
